#modalContainer {
  display: block;
  position: relative;
  float: left;
  clear: none;
  width: 90%;
  height: auto;
  top: 1%;
  left: 5%;
  margin-top: 0%;
  padding: 2%;
  background-color: rgba(50, 50, 50, 0);
  /*-webkit-box-shadow: rgba(7, 7, 7, 0.3) 0em 0.6em 2em 0em;
  -moz-box-shadow: rgba(7, 7, 7, 0.3) 0em 0.6em 2em 0em;
  box-shadow: rgba(7, 7, 7, 0.3) 0em 0.6em 2em 0em;*/
}
.no-touch{
    background-color: #323232; 
  
}

#modalContainerMask {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(225, 15, 35);
  z-index: 3;
}

#modalContent {
  position: center;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  margin: 0%;
  padding: 0%;
  text-align: left;
  color: rgb(125, 125, 125);
}

#modalContentIntro {
  font-size: 0.8em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

#inactive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.questNameBook, .bookDateTime {
  position: relative;
  width: 100%;
  float: left;
  clear: left;
  color: rgb(225, 225, 225);
  line-height: 1.65em;
}

.questNameBook {
  font-size: 1.5em;
  line-height: 1em;
  font-family: 'Noto Serif', serif;
  margin: 6% 0% 4% 0%;
  letter-spacing: 0.05em;
}

.bookDateTime {
  font-size: 1em;
  font-weight: 400;
}

input, textarea {
  position: relative;
  float: left;
  clear: none;
  width: 47.5%;
  height: auto;
  padding: 2% 2% 1% 0%;
  margin-top: 2.5%;
  color: rgba(225, 225, 225, 1);
  background-color: rgba(50, 50, 50, 1);
  border: 0px solid rgb(75, 75, 75);
  line-height: 1.33em;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  
  cursor: text;
  
  border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  height: 5em;
  resize: none;
  outline: none;
}

input:focus {
  outline-offset: 0;
  /*border: 2px solid red;*/
}

input:valid, textarea:valid { 
  color: rgb(225, 225, 225);
}

input:invalid, textarea:invalid {
  background-color: rgba(225, 15, 35, 1); 
}

input[type=text], input[type=email] {
  -webkit-transition: all 0.30s ease-out;
  -moz-transition: all 0.30s ease-out;
  -ms-transition: all 0.30s ease-out;
  -o-transition: all 0.30s ease-out;
  transition: all 0.30s ease-out;
  
  outline: none;
  border-bottom: 1px solid rgb(75, 75, 75);
}

input[type=text]:focus, input[type=email]:focus {
  border-bottom: 1px solid rgba(225, 15, 35, 1);
}

input[type=submit], input[type=button] {
  text-align: left;
  margin: 5% 0% 0% 0%;
  outline: none;
  border: 2px solid rgb(75, 75, 75);
} 

input[type=button] {
  text-align: right;
} 



.btnModal {
  position: relative;
  float: left;
  width: 47.5%;
  height: auto;
  padding: 2.5% 5%;
  margin-top: 2.5%;
  text-align: center;
  border: 1px solid rgba(75, 75, 75, 1);
  cursor: pointer;
}

.btnModalTitle {
  position: relative;
  color: rgb(200, 200, 200);
  font-size: 0.9em;
  z-index: 1;
  text-transform: uppercase;
}

.btnModalBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(225, 15, 35, 1);
  z-index: 0;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  background-color: rgba(50, 50, 50, 1);

  -webkit-box-shadow: 0 0 0px 1000px rgba(50, 50, 50, 1) inset;
  -moz-box-shadow: 0 0 0px 1000px rgba(50, 50, 50, 1) inset;
  -ms-box-shadow: 0 0 0px 1000px rgba(50, 50, 50, 1) inset;
  -o-box-shadow: 0 0 0px 1000px rgba(50, 50, 50, 1) inset;
  box-shadow: 0 0 0px 1000px rgba(50, 50, 50, 1) inset;

  -webkit-transition-delay: 9999s;
  -moz-transition-delay: 9999s;
  -ms-transition-delay: 9999s;
  -o-transition-delay: 9999s;
  transition-delay: 9999s;
  
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -moz-transition: color 9999s ease-out, background-color 9999s ease-out;
  -ms-transition: color 9999s ease-out, background-color 9999s ease-out;
  -o-transition: color 9999s ease-out, background-color 9999s ease-out;
  transition: color 9999s ease-out, background-color 9999s ease-out;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(100, 100, 100);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgb(100, 100, 100);
}
  
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(100, 100, 100);
}
  
:-moz-placeholder { /* Firefox 18- */
  color: rgb(100, 100, 100);
}

::-webkit-input-placeholder-shown { /* Chrome/Opera/Safari */
  color: rgb(225, 225, 225);
}

::-moz-placeholder-shown { /* Firefox 19+ */
  color: rgb(225, 225, 225);
}
  
:-ms-input-placeholder-shown { /* IE 10+ */
  color: rgb(225, 225, 225);
}
  
:-moz-placeholder-shown { /* Firefox 18- */
  color: rgb(225, 225, 225);
}

.color {

  color: rgb(45, 0, 150);
}

.gray {
  color: rgb(150, 150, 150);   
}